<html layout:decorate="~{/layouts/main}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/produtos/lista" th:text="#{product}"></a>
                </li>
                <li th:if="${action == 'edit'}" class="breadcrumb-item active" th:text="#{product.edit}"></li>
                <li th:if="${action == 'new'}" class="breadcrumb-item active" th:text="#{product.new}"></li>
            </ol>
            <div class="card card-register mx-auto mt-5">
                <div class="card-header ">
                    <i class="fa fa-check-square-o"></i>
                    <span th:text="#{product.form}"></span>
                </div>
                <div class="card-body">
                    <form th:object="${product}" th:action="@{/produtos/salvar}" method="post">
                        <div class="text-center">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="hidden" id="id" th:field="*{id}">
                                    <div class="form-row">
                                        <div class="col-md-8">
                                            <label for="product-name" th:text="#{product.name}"></label>
                                            <input class="form-control" id="product-name" type="text"
                                                   aria-describedby="nameHelp"
                                                   placeholder="Produto novo aqui" th:field="*{nome}" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="product-price" th:text="#{product.price}"></label>
                                            <input class="form-control" id="product-price" type="number" min="0.01"
                                                   step="0.01"
                                                   aria-describedby="nameHelp" placeholder="0.00" th:field="*{preco}"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="text-center" th:text="#{categories}"></span>
                                <div class="form-row">
                                    <div class="col-md-3 text-center" th:each="category: ${categories}">
                                        <input th:if="${action == 'edit'}" type="checkbox" name="categories"
                                               th:field="*{categorias}" th:value="${category.id}"/>
                                        <input th:if="${action == 'new'}" type="checkbox" name="categories"
                                               th:value="${category.id}"/>
                                        <label th:text="${category.nome}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" type="submit" th:text="#{save}"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="js-view">
    <script>
        function errorNameAlert() {
            swal({
                title: "Erro!",
                text: "Não foi possível incluir este produto. Existe um produto com o mesmo nome.",
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                allowOutsideClick: false
            });
        }

        if ([[${error}]] == true)
            errorNameAlert();

        function errorCategoryAlert() {
            swal({
                title: "Erro!",
                text: "Não foi possível incluir este produto. É necessário relacionar ao menos uma categoria a ele.",
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                allowOutsideClick: false
            });
        }

        if ([[${errorCategories}]] == true)
            errorCategoryAlert();
    </script>
</th:block>
</html>