<html layout:decorate="~{/layouts/main}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/estados/lista" th:text="#{state}"></a>
                </li>
                <li class="breadcrumb-item active" th:text="#{list}"></li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    <span th:text="#{state.list}"></span>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <a class="btn btn-success" th:text="#{state.new}"
                           href="/estados/novo"></a>
                    </div>
                    <div class="text-center">
                        <span th:if="${#lists.isEmpty(states)}" th:text="#{listisempty}" class="badge"> </span>
                    </div>
                    <div class="table-responsive" th:if="!${#lists.isEmpty(states)}">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead class="text-center">
                            <tr>
                                <th th:text="#{state.name}"></th>
                                <th th:text="#{options}"></th>
                            </tr>
                            </thead>
                            <tfoot class="text-center">
                            <tr>
                                <th th:text="#{state.name}"></th>
                                <th th:text="#{options}"></th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="state: ${states}">
                                <td th:text="${state.nome}"></td>
                                <td class="text-center">
                                    <a class="btn btn-primary" th:text="#{edit}"
                                       th:href="@{|editar/${state.id}|}"></a>
                                    <button class="btn btn-danger" th:text="#{delete}" th:onclick="'javascript:confirmAlert(\''+
                                        #{confirm.msg} +'\', \'/estados/excluir/'+ ${state.id} +'\');'"
                                    ></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="js-view">
    <script>
        function confirmAlert(msg, redirectPage) {
            swal({
                title: "Atenção!",
                text: msg,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Sim",
                cancelButtonText: "Não",
                allowOutsideClick: false
            }).then(result => {
                if (result.value) {
                    window.location.href = redirectPage;
                }
            });
        }
        function errorAlert() {
            swal({
                title: "Erro!",
                text: "Não foi possível excluir este estado. Existe(m) cidade(s) relacionada(s) a ele.",
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                allowOutsideClick: false
            });
        }

        if ([[${error}]] == true)
            errorAlert();
    </script>

</th:block>

</html>